# Name: JAR_Plugin
# Author: Axel
# Version: 1.2
# Date: 2003/12/15
# Requires: ImageJ 1.31s
# Generate the jar file using: "jar cvfM jar_demo.jar *"


Plugins>NucleusJ, "Nucleus Segmentation", gred.nucleus.plugins.NucleusSegmentationPlugin_
Plugins>NucleusJ, "Nucleus Segmentation (batch mode)", gred.nucleus.plugins.NucleusSegmentationBatchPlugin_
Plugins>NucleusJ,"-"
Plugins>NucleusJ, "Nucleus Segmentation & Analysis", gred.nucleus.plugins.NucleusSegmentationAndAnalysisPlugin_
Plugins>NucleusJ, "Nucleus Segmentation & Analysis (batch mode)", gred.nucleus.plugins.NucleusSegmentationAndAnalysisBatchPlugin_
Plugins>NucleusJ,"-"
Plugins>NucleusJ, "Chomocenters Segmentation", gred.nucleus.plugins.ChromocenterSegmentationPlugin_
Plugins>NucleusJ, "Chomocenters Segmentation (batch mode)", gred.nucleus.plugins.ChromocenterSegmentationBatchPlugin_
Plugins>NucleusJ,"-"
Plugins>NucleusJ, "Chomocenters Analysis", gred.nucleus.plugins.ChromocentersAnalysisPlugin_
Plugins>NucleusJ, "Chomocenters Analysis (batch mode)", gred.nucleus.plugins.ChromocentersAnalysisBatchPlugin_
