# Name: JAR_Plugin
# Author: Axel
# Version: 1.2
# Date: 2003/12/15
# Requires: ImageJ 1.31s
# Generate the jar file using: "jar cvfM jar_demo.jar *"



Plugins>Nucleus, "Nucleus Analysis", gred.nucleus.plugins.NucleusPipelinePlugin_
Plugins>Nucleus, "Nucleus Analysis (batch mode)", gred.nucleus.plugins.NucleusPipelineBatchPlugin_
Plugins>Nucleus,"-"
Plugins>Nucleus, "Chomocenters Analysis", gred.nucleus.plugins.ChromocentersPipelinePlugin_
Plugins>Nucleus, "Chomocenters Analysis (batch mode)", gred.nucleus.plugins.ChromocentersPipelineBatchPlugin_
Plugins>Nucleus,"-"
Plugins>Nucleus, "Compute 2D parameters", gred.nucleus.plugins.ComputeParameters2D_
Plugins>Nucleus, "Compute 3D parameters", gred.nucleus.plugins.ComputeParameters3D_
Plugins>Nucleus,"-"
Plugins>Nucleus, "Fill Holes 2D", gred.nucleus.plugins.FillingHoles2D_
Plugins>Nucleus, "Fill Holes 3D", gred.nucleus.plugins.FillingHoles3D_
Plugins>Nucleus,"-"
Plugins>Nucleus, "3D Object Segmentation", gred.nucleus.plugins.NucleusSegmentationPlugin_